---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - core.kyma-project.io
  resources:
  - registrycaches/finalizers
  - registrycaches/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
- apiGroups:
    - core.kyma-project.io
  resources:
    - registrycaches
  verbs:
    - get
    - list
    - patch
    - watch
    - update
- apiGroups:
  - core.kyma-project.io
  resources:
  - registrycacheconfigs
  verbs:
  - get
  - list
  - watch
- apiGroups:
    - admissionregistration.k8s.io
  resources:
    - validatingwebhookconfigurations
  verbs:
    - get
    - patch
- apiGroups:
    - ""
  resources:
    - secrets
  verbs:
    - get
- apiGroups:
    - ""
  resources:
    - events
  verbs:
    - create
    - patch